.form-fields{


	.field-wrapper{
		width:45%;
		float:left;
		clear:none;

		&:nth-child( odd ){
			margin-right:10%;
		}

		&.textarea, &.content, &.checkboxes, &.radio, &.address-wrapper{
			width:100%;
			clear:both;
		}

		&.hidden{
			display:none;
		}

		input, textarea, select{
			box-sizing:border-box;
			padding:8px 16px;
			box-shadow:none;
			border:1px solid #ccc;
			width:100% !important;
			&:focus{
				border:1px solid #444;
			}

			&.validated-true, &.validated-false{
				background-image:url('../../../plugins/chef-forms/Assets/images/ok.png' );
				background-size:16px auto;
				background-repeat:no-repeat;
				background-position:97.5% center;
			}

			&.validated-false{
				background-image:url('../../../plugins/chef-forms/Assets/images/fail.png' );
			}
		}

		textarea.validated-true, textarea.validated-false{
			background-position:97.5% 5%;
		}
	
		&.label-top label{
			width:100%;
			display:block;
			padding-bottom:4px;
		}

		&.label-left label{
			padding-right:15px;
		}
	}

	.validation-error{
		padding:5px 0 0 0;
		color:crimson;
	}

	.datepicker{
		position:relative;
	}
	
	.datepicker:after{
		content: "\f508";
		font-family:'Dashicons';
		font-size:24px;
		position:absolute;
		right:12px;
		bottom:14px;
		color:#22A1D0;
	}
}

.form-message{
	padding:15px;
	box-shadow:0 0 10px rgba(0,0,0,.2);
	text-align:center;
	margin:0 0 15px 0;
	display:block;

	&.error{
		background:crimson;
		color:#fff;

		p{
			color:#fff !important;
		}
	}
}

.form{
	@include transition( .3s );
	width:100%;
	padding:15px 15px 65px 15px;
	display:block;
	position:relative;

	.form-fields, .form-footer{
		@include transition( .3s );
	}

	.form-footer{
		display:block;
		width:100% !important;
		clear:both;
	}

	.loader{
		position:absolute;
		display:none;
		pointer-events:none;
		top:30%;
		left:0;
		right:0;
		width:140px;

		& > div{
			background-color:rgba(0,0,0,.5);
			width: 32px;
			height: 32px;
		}
	}

	.message{
		position:absolute;
		padding:30px;
		background:#f8f8f8;
		font-size:rem( 24px );
		display:none;
		width:300px;
		left:50%;
		margin-left:-150px;
		top:15%;
	}

	&.active, &.msg{
		.form-fields, .form-footer{
			opacity:.15;
			pointer-events:none;
		}

		.loader{
			display:block;
			pointer-events:auto;
		}
	}


	&.msg{
		.message{
			display:block;
		}

		.loader{
			display:none;
		}
	}



}


.ui-datepicker{
	padding:10px 15px;
	background:#fff;
	box-shadow:0 0 5px rgba(0,0,0,.1);
	border:1px solid #ccc;
}

.ui-datepicker-next{
	float:right;
}

.ui-datepicker-title{
	width:100%;
	text-align:center;
	font-weight:bold;
	padding:5px 0 3px 0;
	border-bottom:1px solid #444;

}