.post-type-form.post-php, .post-type-form.post-new-php{
	#poststuff #post-body.columns-2{
		margin-right:0;
	}
	#postbox-container-1{
		display:none;
	}
}

.form-nav{
	list-style:none;
	margin:30px 0 0 0;

	.nav-btn{
		padding:10px 20px 12px 20px;
		border-radius:3px 3px 0 0;
		text-align:center;
		display:inline-block;
		cursor:pointer;
		margin:0 5px -2px 0;
		border:1px solid transparent ;

		b, span{
			pointer-events:none;
		}

		b{
			padding-left:10px;
			display:inline-block;
		}

		&.active, &:hover{
			background:#fff;
			border-color: #ccc;
			border-bottom:0;
		}
	}
}

.toolbar{
	box-sizing:border-box;
	padding:15px 15px 5px 15px;
	text-align:left;
	top: 0px;
	height: 69px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 4px rgba(0,0,0,.3);
	width:100%;
	&.sticky{
		box-sizing:content-box;
		position: fixed;
		margin-left: -15px;
		z-index:1020;
		top:31px;
		height:44px;
	}

	.main-form-nav{
		list-style:none;
		padding-left:0;
		position:relative;
		margin:0;
		display:none;
		pointer-events:none;

		&.active{
			display:block;
		}

		li{
			pointer-events:auto;
			display:inline-block;
			padding:8px 16px;
			margin-right:15px;
			background:#00a0d2;
			color:#fff;
			cursor:pointer;
			border:1px solid darken( #00a0d2, 15% );
			border-radius:4px;

			> span{
				pointer-events:none;
			}

			i{
				padding-right:10px;
			}

			ul{
				box-sizing:border-box;
				position:absolute;
				z-index:900;
				top:45px;
				left:0;
				right:0;
				padding-bottom:15px;
				width:100%;
				padding:15px;
				background:#00a0d2;
				display:none;
				justify-content:space-between;
				flex-flow:row wrap;


				li{
					-webkit-flex: 1 0 22%;
					-ms-flex: 1 0 22%;
					flex: 1 0 22%;
					background:#fff;
					margin:15px 20px 0 0;
					box-shadow:0 2px 3px rgba(0,0,0,.2);
					color:#444;
					vertical-align:middle;
					text-align:center;
					height:auto !important;
					padding:4px 0;

					i{
						margin-top: 4px;
						pointer-events:none;
					}

					&:nth-child( 4n ){
						margin-right:0;
					}
				}
			}
		}

		&.fields-nav > li:hover{
			padding-bottom:18px;
			border-radius:4px 4px 0 0;
			&> ul{
				display:flex;
			}
		}

		&.settings-nav li.active{
			position:relative;
			&:after{
				position:absolute;
				content:'';
				border:12px solid #0073aa;
				border-color:#0073aa transparent transparent transparent;
				width:0;
				height:0;
				bottom:-23px;
				left:50%;
				margin-left:-6px;
			}
		}
	}


	.spinner{
		float:right;
		margin:-36px 125px 0 0;

		&.show{
			visibility:visible;
		}
	}

	.update-btn-wrapper{
		float:right;
		margin:-42px 0 0 0;
		padding:6px 0 0 15px;
		margin-left:15px;
		border-left :1px solid #ccc;
		height:28px;
		vertical-align: middle;
	}

	.update-btn{
		background: #2ea2cc;
		box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
		color: #fff;
		text-decoration: none;
		border-radius: 3px;
		padding: 7px 14px;
		border: 1px solid #0074a2;
		cursor: pointer;
	}
}

/**
 * Form Rows:
 */

.form-view{
	padding-top:30px;

	> h2{
		padding-top:30px !important;
	}
}

.row{
	display:flex;
	justify-content:space-between;
	flex-flow:row no-wrap;
	align-items:center;
	min-height:15px;

	ul, li{
		list-style:none;
	}

	.field-block{
		position: relative;
		flex:1;
		min-height:50px;
		margin:0 30px 0 0;
		pointer:crosshair;

		&.ui-sortable-helper{
			pointer-events: none;
		}

		.field-controls{
			position:relative;
			opacity:0;
			pointer-events:none;
			padding-top:10px;
			text-align: right;

			.delete-field{
				display:inline-block;
				position:relative;
				float:left;
				color:crimson !important;
				margin:3px 0 -3px 0;
				text-decoration:underline;
				cursor:pointer;

				i{
					text-decoration:none;
				}

				&:hover{
					opacity:.7;
				}
			}

			.button{
				display:inline-block;
			}
		}

		&:hover{
			background:#fff;
			box-shadow:0 0 4px rgba(0,0,0,.3);

			.field-controls{
				opacity:1;
				pointer-events:auto;
			}
		}

		&.hidden{
			visibility:visible;
			display:block !important;
		}
	}

	.placeholder{
		position: relative;
		flex:1;
		min-height:25px;
		margin:0 30px 0 0;
		border:3px dashed #00a0d2;
	}

	.add-field.placeholder{
		height:auto !important;
		box-shadow:none;
		text-align:center;
		min-height:50px;
		padding:25px 0;

		.spinner{
			visibility:visible;
		}
	}
}


.row.empty{
	background:rgba(0,0,0,.1);
	margin:0;
	min-height:15px;
	opacity:0;
}

.sorting .row.empty{
	opacity:1;
}


.form-view{
	display:none;
	&.active{
		display:block;
	}
}



.form-view{
	h2 span{
		padding-right:15px;
		color:#00a0d2;
		font-size:22px;
		line-height:90%;
	}

	h2{
		font-size:26px !important;
		color:#444;
		line-height:100%;
	}
}

.form-builder-fields{
	padding:15px;
}
