



.confirmation-settings{
	background:#fff;
	background:#fff;
	box-shadow:0 1px 1px rgba(0,0,0,0.04), 0 0 10px rgba(0,0,0,0.04);
	border:1px solid #e5e5e5;
	padding:15px;
	margin:0 0 30px 0;

	.shortcode{
		margin:15px 0 30px 0;
		display:inline-block;
		font-size:17px;
		font-weight:bold;

		ins{
			width:auto;
			padding:8px 12px;
			background:OldLace;
			display:inline-block;
			font-weight:normal;
		}
	}
}




.settings-panel{
	clear:both;
	padding: 15px 30px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	margin-top: 15px;
	display: none;

	&.active{
		display: block;
	}

	.panel-icon{
		height:42px;
		line-height:100%;
		width:auto;
		display:inline-block;
		margin:15px 15px 0 0;
	}

	h2{
		line-height:100%;
		display:inline-block;
		padding-bottom: 20px; 
		.dashicons{
			float: left;
			margin-top: 10px;
		}
	}


}
