.multifield-top-controls {
  margin: 0 0 0 0;
}
.multifield-top-controls .toggle-keys {
  float: right;
  margin: -50px 0 0 0;
  font-size: 14px;
  color: #00a0d2;
  text-decoration: underline;
  cursor: pointer;
}
.multifield-top-controls .toggle-keys:hover {
  color: #444;
}

.row-placeholder {
  width: 200%;
  display: block;
  border-top: 4px dashed #00a1d5;
  height: 1px;
  margin-top: 30px;
}

.multifield-field-wrapper {
  box-sizing: border-box;
  clear: both;
  margin-top: 30px;
  width: 100%;
  background: #f9f9f9;
  padding: 15px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid #ccc;
}
.multifield-field-wrapper table {
  width: 100%;
}
.multifield-field-wrapper table th {
  border-bottom: 1px solid #ccc;
  padding: 0 0 5px 0;
}
.multifield-field-wrapper table td {
  padding: 10px 30px 0 0;
}
.multifield-field-wrapper table td input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}
.multifield-field-wrapper table .actions {
  width: 130px;
  text-align: right;
}
.multifield-field-wrapper table .actions > span {
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 14px;
  text-align: center;
  margin: 5px 0 0 10px;
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #444;
  padding-top: 5px;
}
.multifield-field-wrapper table .actions > span span {
  color: #fff;
  pointer-events: none;
}
.multifield-field-wrapper table .actions > span .tooltip {
  position: absolute;
  top: -30px;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px 8px;
  left: 0;
  display: none;
  white-space: nowrap;
}
.multifield-field-wrapper table .actions > span .tooltip:after {
  position: absolute;
  top: 30px;
  width: 0;
  height: 0;
  left: 10px;
  border: 5px solid #444;
  border-color: #444 transparent transparent transparent;
}
.multifield-field-wrapper table .actions > span:hover {
  background: #00a1d5;
}

.map-field {
  width: 100%;
  margin-bottom: 20px;
}
.map-field select, .map-field label {
  font-size: 16px;
  padding: 4px 8px;
  width: 45%;
  display: inline-block;
}
.map-field label {
  margin-right: 5%;
}

/** Controls */
.add-field.button {
  width: 100%;
  margin-bottom: 5px;
}

.form-nav {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 0 10px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin: 30px 0;
}
.form-nav .nav-btn {
  border: 1px solid #eee;
  padding: 10px 20px;
  display: inline-block;
  margin: 0 10px 0 0;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.form-nav .nav-btn .dashicons {
  padding-right: 15px;
}
.form-nav .nav-btn span, .form-nav .nav-btn b {
  pointer-events: none;
}
.form-nav .nav-btn:hover {
  background: #f7f7f7;
  border-color: #cccccc;
}
.form-nav .nav-btn.current, .form-nav .nav-btn.current:hover {
  background: #00a0d2;
  border-color: #0073aa;
  color: #fff;
}
.form-nav .nav-btn.current:after, .form-nav .nav-btn.current:hover:after {
  position: absolute;
  content: '';
  border: 12px solid #0073aa;
  border-color: #0073aa transparent transparent transparent;
  width: 0;
  height: 0;
  bottom: -23px;
  left: 50%;
  margin-left: -6px;
}
.form-nav .nav-link {
  background: none;
  border: 1px solid transparent;
  float: right;
}
.form-nav .nav-link:hover {
  background: none;
  border: 1px solid transparent;
  color: #00a0d2;
}

.field-container {
  position: relative;
}
.field-container .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  z-index: 999;
  display: none;
}
.field-container .loader .spinner {
  position: absolute;
  left: 47.5%;
  top: 45%;
  display: inline-block;
}
.field-container .loader.show {
  display: block;
}

.form-view {
  display: none;
}
.form-view.current {
  display: block;
}

.form-view h2 span {
  padding-right: 15px;
  color: #00a0d2;
  font-size: 22px;
  line-height: 90%;
}
.form-view h2 {
  font-size: 26px !important;
  color: #444;
  line-height: 100%;
}

.form-builder-fields {
  padding: 15px;
}

.field-container {
  /*	background:#ccc;
  	box-shadow:inset 0 0 10px rgba(0,0,0,.2);
  	border-radius:3px;
  	border:1px solid #ccc;
  */
}
.field-container .field-dashed {
  width: 100%;
  height: 50px;
  border: 3px dashed #00a0d2;
  margin-bottom: 15px;
  border-radius: 3px;
}
.field-container .field-block {
  box-sizing: border-box;
  position: relative;
  padding: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), inset 3px 3px 3px rgba(0, 0, 0, 0.04);
  background: #fff;
  border-radius: 3px;
  margin-bottom: 15px;
}
.field-container .field-block.hidden {
  display: block;
}
.field-container .field-block .field-preview {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  width: 100%;
}
.field-container .field-block .field-preview label {
  display: block;
  width: 90%;
  font-size: 20px;
  min-height: 18px;
}
.field-container .field-block .field-preview .field-type {
  position: absolute;
  right: 6%;
  top: 0px;
  width: 150px;
  text-align: right;
}
.field-container .field-block .field-preview .toggle-field {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  top: -7px;
  right: -5px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
.field-container .field-block .field-preview .toggle-field:after {
  content: '';
  border: 8px solid #444;
  border-color: #444 transparent transparent transparent;
  position: absolute;
  top: 12px;
  left: 7px;
}
.field-container .field-block .field-preview:hover .toggle-field {
  background: #f9f9f9;
  border: 1px solid #ccc;
}
.field-container .field-block .field-options {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 30px;
  display: none;
}
.field-container .field-block .field-options .delete-field {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-top: -20px;
  color: red;
  float: right;
  cursor: pointer;
  opacity: .6;
}
.field-container .field-block .field-options .delete-field:hover {
  opacity: 1;
}
.field-container .field-block .field-options .field-wrapper:last-of-type {
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-bottom: 0;
}
.field-container .field-block.fold-out {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}
.field-container .field-block.fold-out .field-preview {
  box-shadow: none;
}
.field-container .field-block.fold-out .field-options {
  display: block;
}

.confirmation-settings {
  background: #fff;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 0 10px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
  padding: 15px;
  margin: 0 0 30px 0;
}

.single-entry {
  box-sizing: border-box;
  padding: 15px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 0 10px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
}
.single-entry:nth-child(odd) {
  background: #f8f8f8;
}
.single-entry .entry-date {
  font-size: 20px;
  color: #444;
  padding: 5px 5px 10px 5px;
  cursor: pointer;
  position: relative;
}
.single-entry .entry-date:after {
  content: '';
  width: 0;
  height: 0;
  border: 6px solid #444;
  border-color: #444 transparent transparent transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}
.single-entry .entry-date:hover {
  color: #00a0d2;
}
.single-entry .entry-date:hover:after {
  border-color: #00a0d2 transparent transparent transparent;
}
.single-entry .entry-fields {
  border-top: 1px solid #ccc;
  padding: 15px;
  display: none;
}
.single-entry .entry-fields table {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
}
.single-entry .entry-fields table tr td {
  background: #fff;
  width: 47.5% !important;
  padding: 15px !important;
  font-size: 16px !important;
}
.single-entry .entry-fields table tr td:last-of-type {
  text-align: center !important;
  padding: 15px 0 !important;
}
.single-entry .entry-fields table tr:nth-child(even) td {
  background: #f9f9f9;
}
.single-entry.active .entry-fields {
  display: block;
}

.entry-pagination {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.entry-pagination a {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  text-align: center;
  color: #444;
  background: #fff;
  text-decoration: none;
  border: 1px solid #fff;
}
.entry-pagination a:hover {
  border-color: 0 0 3px rgba(0, 0, 0, 0.1);
}
.entry-pagination a.current {
  background: #00a0d2;
  color: #fff;
  border-color: #00a0d2;
}
.entry-pagination a.current:hover {
  background: #fff;
}
.entry-pagination a:last-child {
  margin-right: 0;
}

.settings-panel {
  clear: both;
  padding-top: 15px;
  margin-top: 30px;
  border-top: 1px solid #ccc;
}
.settings-panel .panel-icon {
  height: 42px;
  line-height: 100%;
  width: auto;
  display: inline-block;
  margin: 15px 15px 0 0;
}
.settings-panel h2 {
  line-height: 100%;
  display: inline-block;
}

/*# sourceMappingURL=admin.css.map */
