.multifield-top-controls {
  margin: 0 0 0 0;
}
.multifield-top-controls .toggle-keys {
  float: right;
  margin: -50px 0 0 0;
  font-size: 14px;
  color: #00a0d2;
  text-decoration: underline;
  cursor: pointer;
}
.multifield-top-controls .toggle-keys:hover {
  color: #444;
}

.row-placeholder {
  width: 200%;
  display: block;
  border-top: 4px dashed #00a1d5;
  height: 1px;
  margin-top: 30px;
}

.multifield-field-wrapper {
  box-sizing: border-box;
  clear: both;
  margin-top: 30px;
  width: 100%;
  background: #f9f9f9;
  padding: 15px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid #ccc;
}
.multifield-field-wrapper table {
  width: 100%;
}
.multifield-field-wrapper table th {
  border-bottom: 1px solid #ccc;
  padding: 0 0 5px 0;
}
.multifield-field-wrapper table td {
  padding: 10px 30px 0 0;
}
.multifield-field-wrapper table td input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}
.multifield-field-wrapper table .actions {
  width: 130px;
  text-align: right;
}
.multifield-field-wrapper table .actions > span {
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 14px;
  text-align: center;
  margin: 5px 0 0 10px;
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  background: #444;
  padding-top: 5px;
}
.multifield-field-wrapper table .actions > span span {
  color: #fff;
  pointer-events: none;
}
.multifield-field-wrapper table .actions > span .tooltip {
  position: absolute;
  top: -30px;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px 8px;
  left: 0;
  display: none;
  white-space: nowrap;
}
.multifield-field-wrapper table .actions > span .tooltip:after {
  position: absolute;
  top: 30px;
  width: 0;
  height: 0;
  left: 10px;
  border: 5px solid #444;
  border-color: #444 transparent transparent transparent;
}
.multifield-field-wrapper table .actions > span:hover {
  background: #00a1d5;
}

.map-field {
  width: 100%;
  margin-bottom: 20px;
}
.map-field select, .map-field label {
  font-size: 16px;
  padding: 4px 8px;
  width: 45%;
  display: inline-block;
}
.map-field label {
  margin-right: 5%;
}

.form-view {
  display: none;
}
.form-view.current {
  display: block;
}

.form-view h2 span {
  padding-right: 15px;
  color: #00a0d2;
  font-size: 22px;
  line-height: 90%;
}
.form-view h2 {
  font-size: 26px !important;
  color: #444;
  line-height: 100%;
}

.form-builder-fields {
  padding: 15px;
}

.confirmation-settings {
  background: #fff;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 0 10px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
  padding: 15px;
  margin: 0 0 30px 0;
}

.single-entry {
  box-sizing: border-box;
  padding: 15px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 0 10px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
}
.single-entry:nth-child(odd) {
  background: #f8f8f8;
}
.single-entry .entry-date {
  font-size: 20px;
  color: #444;
  padding: 5px 5px 10px 5px;
  cursor: pointer;
  position: relative;
}
.single-entry .entry-date:after {
  content: '';
  width: 0;
  height: 0;
  border: 6px solid #444;
  border-color: #444 transparent transparent transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}
.single-entry .entry-date:hover {
  color: #00a0d2;
}
.single-entry .entry-date:hover:after {
  border-color: #00a0d2 transparent transparent transparent;
}
.single-entry .entry-fields {
  border-top: 1px solid #ccc;
  padding: 15px;
  display: none;
}
.single-entry .entry-fields table {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
}
.single-entry .entry-fields table tr td {
  background: #fff;
  width: 47.5% !important;
  padding: 15px !important;
  font-size: 16px !important;
}
.single-entry .entry-fields table tr td:last-of-type {
  text-align: center !important;
  padding: 15px 0 !important;
}
.single-entry .entry-fields table tr:nth-child(even) td {
  background: #f9f9f9;
}
.single-entry.active .entry-fields {
  display: block;
}

.entry-pagination {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.entry-pagination a {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  text-align: center;
  color: #444;
  background: #fff;
  text-decoration: none;
  border: 1px solid #fff;
}
.entry-pagination a:hover {
  border-color: 0 0 3px rgba(0, 0, 0, 0.1);
}
.entry-pagination a.current {
  background: #00a0d2;
  color: #fff;
  border-color: #00a0d2;
}
.entry-pagination a.current:hover {
  background: #fff;
}
.entry-pagination a:last-child {
  margin-right: 0;
}

.settings-panel {
  clear: both;
  padding-top: 15px;
  margin-top: 30px;
  border-top: 1px solid #ccc;
}
.settings-panel .panel-icon {
  height: 42px;
  line-height: 100%;
  width: auto;
  display: inline-block;
  margin: 15px 15px 0 0;
}
.settings-panel h2 {
  line-height: 100%;
  display: inline-block;
}

.toolbar {
  box-sizing: border-box;
  padding: 15px 15px 5px 15px;
  text-align: left;
  top: 0px;
  height: 69px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.toolbar.sticky {
  box-sizing: content-box;
  position: fixed;
  margin-left: -15px;
  z-index: 1020;
  top: 31px;
  height: 44px;
}
.toolbar .main-form-nav {
  list-style: none;
  padding-left: 0;
  position: relative;
  margin: 0;
}
.toolbar .main-form-nav li {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 15px;
  background: #00a0d2;
  color: #fff;
  cursor: pointer;
  border: 1px solid #006686;
  border-radius: 4px;
}
.toolbar .main-form-nav li > span {
  pointer-events: none;
}
.toolbar .main-form-nav li i {
  padding-right: 10px;
}
.toolbar .main-form-nav li ul {
  box-sizing: border-box;
  position: absolute;
  z-index: 900;
  top: 45px;
  left: 0;
  right: 0;
  padding-bottom: 15px;
  width: 100%;
  padding: 15px;
  background: #00a0d2;
  display: none;
  justify-content: space-between;
  flex-flow: row wrap;
}
.toolbar .main-form-nav li ul li {
  -webkit-flex: 1 0 22%;
  -ms-flex: 1 0 22%;
  flex: 1 0 22%;
  background: #fff;
  margin: 15px 20px 0 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  color: #444;
  vertical-align: middle;
  text-align: center;
  height: auto !important;
  padding: 4px 0;
}
.toolbar .main-form-nav li ul li i {
  margin-top: 4px;
}
.toolbar .main-form-nav li ul li:nth-child(4n) {
  margin-right: 0;
}
.toolbar .main-form-nav > li:hover {
  padding-bottom: 18px;
  border-radius: 4px 4px 0 0;
}
.toolbar .main-form-nav > li:hover > ul {
  display: flex;
}
.toolbar .spinner {
  position: absolute;
  right: 125px;
  top: 15px;
  visibility: visible;
  margin: 6px 10px 0 0;
}
.toolbar .spinner.show {
  visibility: visible;
}
.toolbar .update-btn-wrapper {
  position: absolute;
  padding: 6px 0 0 15px;
  margin-left: 15px;
  border-left: 1px solid #ccc;
  height: 28px;
  right: 15px;
  top: 15px;
  vertical-align: middle;
}
.toolbar .update-btn {
  background: #2ea2cc;
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  padding: 7px 14px;
  border: 1px solid #0074a2;
  cursor: pointer;
}

/**
 * Form Rows:
 */
.field-container {
  padding-top: 30px;
}
.field-container > h2 {
  padding-top: 30px !important;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-flow: row no-wrap;
  align-items: center;
  min-height: 15px;
}
.row .field-block {
  position: relative;
  flex: 1;
  min-height: 50px;
  margin: 0 30px 0 0;
  pointer: crosshair;
}
.row .field-block .field-controls {
  position: relative;
  opacity: 0;
  pointer-events: none;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: -10px;
}
.row .field-block .field-controls .delete-field {
  display: inline-block;
  position: relative;
  float: none;
  color: crimson !important;
  margin: 3px 0 -3px 0;
  text-decoration: underline;
  cursor: pointer;
}
.row .field-block .field-controls .delete-field i {
  text-decoration: none;
}
.row .field-block .field-controls .button {
  float: right;
}
.row .field-block:hover {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.row .field-block:hover .field-controls {
  opacity: 1;
  pointer-events: auto;
}
.row .placeholder {
  position: relative;
  flex: 1;
  min-height: 50px;
  margin: 0 30px 30px 0;
  border: 3px dashed #00a0d2;
}
.row .add-field.placeholder {
  height: auto !important;
  box-shadow: none;
  text-align: center;
  min-height: 50px;
  padding: 25px 0;
}
.row .add-field.placeholder .spinner {
  visibility: visible;
}

.field-preview, .field-live-preview {
  display: block;
  padding: 20px;
  position: relative;
}
.field-preview label, .field-live-preview label {
  font-size: 18px;
  padding-bottom: 6px;
  color: #888;
  display: block;
}
.field-preview input, .field-preview textarea, .field-live-preview input, .field-live-preview textarea {
  width: 100%;
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.field-preview input[type="radio"], .field-preview input[type="checkbox"], .field-live-preview input[type="radio"], .field-live-preview input[type="checkbox"] {
  width: 16px;
  height: 16px;
  padding: 0;
  display: inline-block;
  float: left;
  margin-right: 5px;
  background: #fff;
}
.field-preview span.dashicons, .field-live-preview span.dashicons {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #888;
}

.field-options {
  box-sizing: border-box;
  display: none;
  z-index: 2000;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -400px;
  width: 850px;
  height: 600px;
  border-radius: 3px;
}
.field-options.active {
  display: block;
}
.field-options .field-live-preview {
  position: relative;
  background: #ccc;
  padding: 30px 30px 60px 30px;
  background: #f9f9f9;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px 3px 0 0;
  border: 1px solid #ccc;
}
.field-options .field-live-preview .close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 32px;
  cursor: pointer;
}
.field-options .field-live-preview .close:hover {
  color: #00a0d2;
}
.field-options .field-live-preview .tab-container {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 20px;
  margin: 0;
}
.field-options .field-live-preview .tab-container li {
  padding: 8px 16px;
  background: #888;
  color: #fff;
  border-radius: 3px 3px 0 0;
  margin: 0 3px 0 0;
  display: inline-block;
  cursor: pointer;
}
.field-options .field-live-preview .tab-container li i {
  color: #fff;
  padding-right: 10px;
}
.field-options .field-live-preview .tab-container li.active, .field-options .field-live-preview .tab-container li:hover {
  background: #fff;
  color: #888;
  padding-bottom: 9px;
  margin-bottom: -1px;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.field-options .field-live-preview .tab-container li.active i, .field-options .field-live-preview .tab-container li:hover i {
  color: #888;
}
.field-options .field-setting-tabs {
  padding: 15px;
}
.field-options .field-setting-tabs .field-wrapper {
  width: 45%;
  float: left;
  margin-right: 10%;
}
.field-options .field-setting-tabs .field-wrapper:nth-of-type(even) {
  margin-right: 0;
}

.row.empty {
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
  min-height: 50px;
  display: none;
}

.sorting .row.empty {
  display: block;
}

/*# sourceMappingURL=admin.css.map */
